<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tampir.jlast">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.tampir.jlast.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name="com.tampir.jlast.activity.Flashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tampir.jlast.activity.Login"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.tampir.jlast.activity.Registrasi"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.tampir.jlast.activity.Main"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.tampir.jlast.activity.VideoPlayer"
            android:exported="true"
            android:label="Player"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />
        <activity android:name="com.tampir.jlast.activity.CropPicture" android:label="Crop" android:screenOrientation="portrait"/>
        <service android:name="com.tampir.jlast.appService" />
        <service android:name="com.tampir.jlast.UploadFoto"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2483a6498c91d2484b6bf1f4ec24b072a80dc2c5" />
        <service
            android:name="com.tampir.jlast.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.tampir.jlast.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.tampir.jlast.firebase.MyJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
